:root {
  --text-color: black;
  --c1:  #B2923D;
  --c2: white;
  --c3:#3B3B3B;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito Sans';
}
body{
    background-color: #2F2F2F;
    color: white;
}
/* ------------------- nav bat ------------------------*/

ul {
  margin: 0px;
  padding: 0px;
}
ul li a{
color: white;
}

ul li a:hover {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: white;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar .navbar-brand {
  padding: 0px;
  margin: 0px;
}
.pad-list li{
  padding: 28px;
  color: white;
}
.active-li{
  border-top: var(--c1) solid 4px;
  padding: 26px;
}
/******************************* slider *****************************/
.shapee {
  -webkit-clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0 0);
          clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.content {
  z-index: 888;
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.carousel-item {
  height: 100%;
}

.v-center {
  height: 100%;
  width: 100%;
  margin-bottom: 125px;
}

.v-center h2 {
  color: var(--c1);
  font-size: 24px;
}

.v-center h3 {
  font-size: 48px;
  font-weight: 800;
  color: white;
}

.v-center button {
  width: 188px;
  height: 50px;
  background-color:var(--c1);
  border: 0px;
  color: white;
}

.abs {
  position: absolute;
}

ol {
  margin-bottom: 70px;
}

.f-icon {
  position: absolute;
  margin-top: -60px;
  left: 50%;
  padding: 15px 40px 5px 40px;
  text-align: center;
  background-color: #2F2F2F
  ;
}

.f-icon border
p {
  font-size: 12px;
  padding-top: 10px;
  color: white;
}

.s-icon {
  position: absolute;
  margin-top: -60px;
  right: 50%;
  padding: 15px 40px 5px 40px;
  text-align: center;
  background-color: #2F2F2F
  ;
  border: 2px solid var(--c1);
}

.s-icon p {
    padding-top: 18px;
    font-size: 14px;
    color: var(--c1);
    margin-bottom: 5px;
}
@media screen  and (max-width: 600px) {

  .v-center h2 {
    color: var(--c1);
    font-size: 8px;
  }
  .v-center h3 {
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  .media-icon{
    width: 10px;
    height: 10px;
  }
  .f-icon {
    position: absolute;
    margin-top: -20px;
    left: 50%;
    padding: 4px 10px 2px 10px;
    text-align: center;
    background-color: var(--c3);
  }

  .f-icon border
  p {
    font-size: 7px;
    padding-top: 3px;
    color: white;
    margin: 0px;
  }

  .s-icon {
    position: absolute;
    margin-top: -20px;
    right: 50%;
    padding: 4px 10px 2px 10px;
    text-align: center;
    background-color: var(--c3);
    border: 2px solid var(--c1);
  }

  .s-icon p {
      padding-top: 3px;
      font-size: 7px;
      color: var(--c1);
      margin-bottom: 5px;
  }
  .v-center button {
    width: 90px;
    height: 25px;
    background-color: var(--c1);
    border: 0px;
    font-size: 7px;
    color: white;
  }
}





.pp {
  text-align: center;
  padding-top: 30px;
}

footer {
  padding-top: 50px;
}
.footer-font div{
  font-size: 14px;
}

hr {
  border: 1px solid var(--c1);
  opacity: 100%;
  color: var(--c1);
}
/*# sourceMappingURL=navstyle.css.map */
.carousel-indicators .active {
    opacity: 1;
    background-color: var(--c1);
    height: 7px;
}
.carousel-indicators{
    align-items: flex-end;
}
.carousel-indicators li{
    opacity: 1;
}

/** image*/
.image{
    height: 163px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.25)) ,url('/../assets/images/bgimage.png');
}
.h-selc{
    padding-top:40px;
    font-size:28px;
}
/**************************************PANIER***************************************/
/*panier header */

.panier-row1{
    background-color: var(--c3);
    padding: 15px 15px 15px  60px ;
}
.panier-row1 div h2
{
    font-size: 14px;
    font-weight: bold;
}
/** panier body  **/

.panier-table{
    padding-top: 30px;
}
.panier-row2{
    background-color: var(--c3);
    padding: 15px 15px 15px  60px ;
}
.panier-row2 div p{
    font-size: 14px;
}
/** elments **/
.qt {
    background-color: var(--c1);
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    color: white;
    margin-left: 10px;

}
.cross-mark{
    color: black;
    font-size: 30px;
}
 ul{
    padding: 0;
    list-style: none;
    font-size: 13px;

}
.panier-row2 div ul li::before{
        content: "-";
        padding-right: 8px;

      }
/** form **/
.panier-form{
    background-color: var(--c3);
    padding: 30px;
    margin-right: -13px;
    margin-top: 20px;

}
.pad input[type="text"] {
    width: 205px;
    height: 29px;
    padding-right: 50px;
    border: solid 1px var(--c1);
    padding-left: 25px;
}
.pad input:focus[type="text"] {outline:0;}
.pad input[type="submit"] {
    margin-left: -50px;
    width: 73px;
    height: 29px;
        background: var(--c1);
    color: white;
    border: 0;
    -webkit-appearance: none;
    border-radius: 15px;

}
.pad button{
    width: 227px;
    height: 29px;
    background-color:var(--c1);
    color: white;
    border: 0px;
    margin-top: 10px;
    border-radius: 15px;

}
.pad button:focus {outline:0;}

.pad p{
    font-weight: bold;
    font-size: 14px;
}
/**panier form(left)**/
.panier-form-header {
    background-color: var(--c3);
    margin: 0px;
}
.panier-form-header p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 30px;
}
.panier-form-body {
    padding: 30px 30px 15px 30px;
}
.panier-form-body p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 30px;
}
.panier-form-body h3{
    font-size: 14px;
}
.list-form ul li::before{
    content: "-";
    padding-right: 8px;
    font-size: 14px;
}

.bg-form{
    background-color: var(--c3);
    margin-top: 20px;

}
.panier-form-body div div div img{
    padding-right: 20px;
}

.panier-form-body div div div ul{
    margin-left: 10px;
}
.panier-form-button{
    width: 227px;
    height: 29px;
    background: var(--c1);
    color: white;
    border: 0;
    float: right;
    margin-top: 10px;
    border-radius: 15px;
}
.panier-form-button:focus {outline:0;}
@media screen and (max-width: 768px) {
    .post1-text{
        margin: 0px;
        position: relative;
    }

  .hided{
    display: none;
  }
.histoire-image1{
  width: 100%;
  margin-top: 15px;
}

.notre-histoire-post1 div img{
    position: relative;
    margin-top: 110px;
}
.notre-histoire-post2 div h4{
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
}
.notre-histoire-post2 div p{
  font-size: 15px;
  width: 100%;
  position: relative;
}
.notre-histoire-post2 div img{

  width: 100%;

}
.contact-image{
  margin-top: 20px;
}

}
/**panier form(right)**/

.half-i{
    width: 45%;
    margin-right: 10px;
    margin-top: 10px;
    border: solid 1px var(--c1);
    padding: 4px;
    height: 40px;
    background-color: var(--c3);
}
.full-i{
    width: 92%;
    margin-top: 10px;
    border: solid 1px var(--c1);
    padding: 4px;
    height: 40x;
    background-color: var(--c3);
}
.form-bg{
  background-color: var(--c3);
  padding: 15px 40px 40px 40px;
}

.personnel-info h3{
  padding: 25px 0px;
  font-size: 16px;
  font-weight: bold;
}
.form-livraison{
  background-color: var(--c3);
  padding: 40px;
  margin-top: 30px;
}
.form-livraison h3{
  font-size: 16px;
  font-weight: bold;
}

.form-enlign{
  background-color: var(--c3);
  padding: 40px;
  margin-top: 30px;
}
.form-enlign h4{
  font-size: 14px;
  font-weight: bold;

}
.form-enlign button{
  width: 227px;
  height: 29px;
  color: white;
  background-color: var(--c1);
  border: 0px;
  border-radius: 15px;
}
/**page 3**/
.connect-id{
  background-color: var(--c3);
  padding: 40px;
  margin-top: 30px;
}
.connect-id button{
  background-color: var(--c1);
  color: white;
  border: 0px;
  width: 227px;
  height: 29px;
  margin-top: 22px;
}
.connect-id h3{
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.new-acc{
  background-color: var(--c3);
  padding: 40px;
  margin-top: 30px;
}
.new-acc button{
  background-color: var(--c1);
  color: white;
  border: 0px;
  width: 227px;
  height: 29px;
  margin-top: 22px;
}
.new-acc  h3{
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
/*** contact page**/
.question p{
  font-size: 12px;
  width: 90%;
}
.question button {
  background-color: var(--c1);
  color: white;
  border: 0px;
  width: 227px;
  height: 29px;
  margin-top: 22px;
  margin-right: 42px;
  border-radius: 15px;
}

.contact-image{
  height: 340px;
  width: 600px;

}
.contact-text{
  height: 120px;
}


/* profile page */
.profile-adresse-header{
  background-color: var(--c3);
  padding: 30px;
  margin-top: 30px;
}
.profile-adresse-header h3{
  font-size: 14px;
  font-weight: bold;
}
.profile-adresse-body{
  background-color: var(--c3);
  padding: 30px;
  margin-top: 30px;
}
.profile-adresse-body hr{
  margin: 30px 0px;
}
.profile-adresse-body p{
  font-size: 12px;
  margin: 0px;
}
.bold{
  font-weight: bold;
}
.profile-actions button{
  width: 162px;
  height: 29px;
  background-color: var(--c1);
  color: white;
  border: 0px;
  margin-top: 8px;
  border-radius: 15px;
}
.profile-commandes-header{
  background-color: var(--c3);
  padding: 30px;
  margin-top: 30px;
}
.profile-commandes-header h3{
  font-size: 14px;
  font-weight: bold;
}
.profile-commandes-body{
  background-color: var(--c3);
  padding: 30px;
  margin-top: 30px;
}

.profile-commandes-body-top button{
  width: 186px;
  height: 29px;
  color: white;
  background-color: var(--c1);
  font-size: 13px;
  border: 0px;
  border-radius: 15px;
}
.profile-commandes-body-top span{
  margin-left: 25px;
  font-size: 12px;
  font-weight: bold;
}
.profile-commandes-body-top p{
  font-size: 13px;
  font-weight: bold;


}
.profile-commandes-body{
  font-size: 14px;

}
.profile-commandes-body p{
  font-size: 13px;
  margin: 0px;
}
.commande-list ul{
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: inside;
}
.commande-list{
  margin-top: 15px;
}
.commandes-page{
  margin-top: 50px;

}
.commandes-page svg{
  margin-right: 20px;
}
.rectangle{
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: var(--c1);
  margin-top: 20px;
}
.rectangle2{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--c1);
  margin-left: 155px;

}
.notre-histoire-post1 img {
    width: 100%;

}

.post1-text p{
    position: relative;
  margin: auto;
  background-color: #2F2F2F;
  text-align: center;
  margin-bottom: -110px;
  padding: 30px 71px 38px 71px;
  font-size: 12px;
  z-index: 999;
}
.post1-content p{
  margin-top: 30px;



  font-size: 12px;

}
.text-a{
  padding-right: 40px;
  border-right: 1px solid var(--c1);
}
.text-b{
  padding-left: 40px;
}
.notre-histoire-post2{
  width: 85%;
  margin: auto;
  margin-right: 50px;
  margin-top: 70px;
}
.post2-content img{
  width: 577px;
height: 392px;
}
.notre-histoire-post2 h4{
  width: 320px;
  font-size: 36px;
  font-weight: bold;
  margin-top: 90px;
}
.notre-histoire-post2 p{
  position: absolute;
  z-index: 999;
  width: 780px;
  font-size: 12px;
  margin-top: 20px;
  background-color: var(--c3);
  padding: 25px;

}

.p-histoire{
  font-weight: bold;
  font-size: 18px;
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}
.p-histoire span{
  font-weight: bold;
  font-size: 18px;
color: var(--c1);
}














input:focus, textarea:focus, select:focus{
  outline: none;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width:92%;
  margin:10px 0;
}    .select select {
      font-family: 'Arial';
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 4px 4px;
      outline: 0;
      border: 1px solid var(--c1);
      border-radius: 0px;
      background: var(--c3);
      color: #7b7b7b;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #000000;
          background: var(--c3);
      }
      .select select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: var(--c3);
}
